@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>
<style>
    
    h4 {
        margin: 20px 0 0 0;
    }
    p {
        margin-left: 0;
        padding-left: 0;
     }
</style>
<section class="section-body">
    <div class="container">
        <p>Ваше доверие является важным для нас, и мы стремимся обеспечить прозрачность в том, как обрабатываются ваши персональные данные. Данная Политика конфиденциальности объясняет, какую информацию мы собираем, как мы её используем и защищаем.</p>

        <h4>1. Сбор персональной информации</h4>
        <p>Мы можем собирать следующие данные:</p>
        <ul>
            <li>Ваше имя, контактные данные, такие как электронная почта и номер телефона;</li>
            <li>Информация, необходимая для создания календаря (например, дата создания и количество);</li>
            <li>Информация об использовании нашего сайта, включая файлы cookie.</li>
        </ul>

        <h4>2. Использование информации</h4>
        <p>Собранные данные используются для:</p>
        <ul>
            <li>Обработки ваших запросов и оформления календаря;</li>
            <li>Предоставления актуальной информации о вашем заказе;</li>
            <li>Улучшения работы нашего магазина и обеспечения вашей безопасности.</li>
        </ul>

        <h4>3. Передача данных третьим лицам</h4>
        <p>Мы не продаём и не передаём ваши персональные данные третьим лицам, за исключением случаев, когда это необходимо:</p>
        <ul>
            <li>Для выполнения вашего заказа (например, передачи данных партнёрским компаниям по созданию магазина);</li>
            <li>По требованию законодательства.</li>
        </ul>

        <h4>4. Защита информации</h4>
        <p>Мы принимаем все необходимые меры для защиты ваших данных от несанкционированного доступа, изменения или утраты. Для этого используются современные технологии шифрования и строгие внутренние политики.</p>

        <h4>5. Ваши права</h4>
        <p>Вы имеете право:</p>
        <ul>
            <li>Получать информацию о том, какие данные о вас хранятся;</li>
            <li>Запрашивать удаление или исправление ваших данных;</li>
            <li>Отозвать своё согласие на обработку данных.</li>
        </ul>

        <h4>6. Контакты</h4>
        <p>Если у вас есть вопросы о том, как мы обрабатываем ваши данные, вы можете связаться с нами по адресу электронной почты: <strong>support@yourcompany.com</strong>.</p>

        <h4>7. Изменения в Политике конфиденциальности</h4>
        <p>Мы оставляем за собой право вносить изменения в данную Политику. Актуальная версия всегда доступна на нашем сайте.</p>

        <p><strong>Спасибо за ваше доверие!</strong> Мы делаем всё возможное, чтобы ваши данные были в безопасности, а опыт покупки календарей — максимально комфортным.</p>
    </div>
</section>
